html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.threejs-world {
	overflow: hidden;
	width: 100% !important;
	cursor: grab;
}

.threejs-animated-world {
	overflow: visible;
	width: 100% !important;
	position: relative;
	cursor: grab;
	z-index: 1;
}

/* Override default box-shadow on buttons */
button {
	box-shadow: none !important;
}

strong.text--yellow {
	color: #ffd900;
}

strong.text--blue {
	color: #1e51c0;
} 

strong.text--red {
	color: #bd4040;
}
